<div id="done_tasks">
  <div id="new_tasks">
    <div class="panel panel-info">
      <div class="panel-heading">
        Done
      </div>
      <div class="panel-body">
        <% tasks.each do |task| %>
            <ul class="list-group">
              <li class="list-group-item">
                <%= link_to (task.name), project_task_path(@project,task) %>
                (<%= link_to (task.user.initials), profile_path(task.user.profile) %>)
              </li>
            </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>