<div id="new_tasks">
  <table class="table table-bordered">
    <thead>
    <tr>
      <td>New</td>
    </tr>
    </thead>
    <tbody>
    <% @tasks_not_started.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= link_to 'Start', :class => 'btn btn-mini' %></td>
          <td><%= link_to 'Edit', :class => 'btn btn-mini' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'New task',new_project_task_path, :class => 'btn btn-primary' %>
</div>