<div id="new_tasks">
  <div class="panel panel-primary">
    <div class="panel-heading">
      New
      <% if can? :create, Task %>
        <%= link_to new_project_task_path, remote: true, class: 'inverse-link pull-right' do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
    <div class="panel-body">
      <% tasks.each do |task| %>
          <ul class="list-group">
            <%= render partial: 'task', locals: {task: @tasks_not_started} %>
          </ul>
      <% end %>
    </div>
    <%= render 'dialog' %>

  </div>

</div>
