<div class="row">
  <div class='col-md-4'>
    <%= render partial: 'done_tasks', locals: {tasks: @tasks_done} %>
  </div>
  <div class='col-md-4'>
    <%= render partial: 'in_progress_tasks', locals: {tasks: @tasks_started} %>
  </div>
  <div class='col-md-4'>
    <%= render partial: 'new_tasks', locals: {tasks: @tasks_not_started} %>
  </div>
</div>