<div class="row">
  <div class='col-md-4'>
    <%= render 'done_tasks', task: @tasks_done %>
  </div>
  <div class='col-md-4'>
    <%= render 'in_progress_tasks', task: @tasks_started %>
  </div>
  <div class='col-md-4'>
    <%= render 'new_tasks', task: @tasks_not_started %>
  </div>
</div>