<h2>List moderators</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>

  <%  @moderator.each do |moderator| %>
          <tr>
            <td><%= moderator.profile.first_name %></td>
            <td></td>
            <td><%= moderator.email %></td>
            <td><%= link_to 'Edit', edit_moderator_path(moderator), :class => 'btn btn-mini' %></td>
            <% end %>
          </tr>

  </tbody>
</table>
<%= link_to 'New moderator',new_moderator_path, :class => 'btn btn-primary' %>
